/* Style for Page */

body{
    align-items: center;
    background: url('grey.jpg');
    background-size: 100%;
    background-repeat: no-repeat;
}

/* First Section */

#sec{
    margin-top: 30px;
    margin-left: 10px;
}
#nature{
    color: white;
    float: right;
}
#mnt{
    height: 250px;
    float: right;
}
#bird{
    height: 275px;
    margin-left: 30px;
} 
#nat-head{
    
}

/* Navigation Bar */

.navbar{
    margin: 0%;
    background-color: rgb(25, 189, 25);
    border-radius: 3px;
    height: 39px;
}
.navbar ul{          
    list-style: none;
    overflow: auto;
    margin: none; 
    padding-top: 0px;
    padding-bottom: 0%;  
    align-items: center;
}
.navbar li{
    float: left;
    padding: 2px 3px 3px 3px;
    margin: 5px 1px 0px 1px;
    font-size: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.navbar ul a{
    color: white;
    text-decoration: none;
    margin: 2px 3px;
    padding: 3px 3px;
}
.navbar ul a:hover{
    background-color: rgb(41, 168, 79);
    font-weight: 500;
    padding-left: 3px;
    padding-right: 3px;
    border-radius: 3px;
}
.search{
    float: right;
    padding: 8px 13px;
    background-size: 30px 25px;
}
#btn{
    background-color: rgb(25, 189, 25);
    color: white;
    border: 2px solid white;
    cursor: pointer;
    padding-top: 0px;
    padding-bottom: 0px;
    margin-top: 0px;
    margin-right: 30px;
    background-size: 10px 10px;   
    font-size: 18px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    border-radius: 3px;
}
#btn:hover{
    background-color: greenyellow;
    color: black;
    border-color: black;
    border-radius: 3px;
}