/* Style for Page */

body{
    align-items: center;
    background: url('grey.jpg');
    background-size: 100%;
    background-repeat: no-repeat;
}

/* First Section */

#sec{
    margin-top: 30px;
    margin-left: 10px;
}
#nature{
    color: white;
    float: right;
    
}
#mnt{
    height: 300px;
    float: right;
}

#bird{
    height: 275px;
    margin-left: 35px;
} 
#nat-head{
    float: left;
    font-size: 50px;
    display: block;
    margin-left: 30px;
    margin-bottom: 5px;
    margin-top: 30px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
#first-sec{
    display: block;
    float: left;
    margin-left: 30px;
    font-size: 25px;
}
